<app-export-svg [dataId]="id"></app-export-svg>

<div id="{{id}}">
  <ngx-graph class="chart-container" [view]="[500, 550]" [links]="[
  {
    id: 'a',
    source: 'first',
    target: 'second',
    label: 'is parent of'
  }, {
    id: 'b',
    source: 'first',
    target: 'c1',
    label: 'custom label'
  }, {
    id: 'd',
    source: 'first',
    target: 'c2',
    label: 'custom label'
  }, {
    id: 'e',
    source: 'c1',
    target: 'd',
    label: 'first link'
  }, {
    id: 'f',
    source: 'c1',
    target: 'd',
    label: 'second link'
  }
]" [nodes]="[
  {
    id: 'first',
    label: 'A'
  }, {
    id: 'second',
    label: 'B'
  }, {
    id: 'c1',
    label: 'C1'
  }, {
    id: 'c2',
    label: 'C2'
  }, {
    id: 'd',
    label: 'D'
  }
]" [clusters]="[
  {
    id: 'third',
    label: 'Cluster node',
    childNodeIds: ['c1', 'c2']
  }
]" layout="dagreCluster">
  </ngx-graph>
</div>