<app-export-svg [dataId]="id"></app-export-svg>

<div id="{{id}}">
  <ngx-graph class="chart-container" [view]="[500, 500]" [links]="[
  {
    id: 'a',
    source: 'one',
    target: 'two',
    label: 'is parent of'
  }, 
  {
    id: 'b',
    source: 'one',
    target: 'three',
    label: 'custom label'
  },
  {
    id: 'c',
    source: 'two',
    target: 'four',
    label: 'custom label'
  },
  {
    id: 'd',
    source: 'two',
    target: 'five',
    label: 'custom label'
  },
  {
    id: 'e',
    source: 'three',
    target: 'six',
    label: 'custom label'
  },
  {
    id: 'f',
    source: 'three',
    target: 'seven',
    label: 'custom label'
  },
  {
    id: 'g',
    source: 'four',
    target: 'eight',
    label: 'custom label'
  },
  {
    id: 'h',
    source: 'four',
    target: 'nine',
    label: 'custom label'
  },
  {
    id: 'i',
    source: 'five',
    target: 'ten',
    label: 'custom label'
  },
  {
    id: 'j',
    source: 'five',
    target: 'eleven',
    label: 'custom label'
  }
]" [nodes]="[
  {
    id: 'one',
    label: 'A'
  }, 
  {
    id: 'two',
    label: 'B'
  }, 
  {
    id: 'three',
    label: 'C'
  },
  {
    id: 'four',
    label: 'D'
  },
  {
    id: 'five',
    label: 'E'
  },
  {
    id: 'six',
    label: 'F'
  },
  {
    id: 'seven',
    label: 'G'
  },
  {
    id: 'eight',
    label: 'H'
  },
  {
    id: 'nine',
    label: 'I'
  },
  {
    id: 'ten',
    label: 'J'
  },
  {
    id: 'eleven',
    label: 'K'
  }
]">
  </ngx-graph>
</div>