<app-export-svg [dataId]="id"></app-export-svg>

  <div id="{{id}}">
  <ngx-graph class="chart-container" [draggingEnabled]="false" [view]="[1500, 13000]"
    [links]="linkArray" [nodes]="nodesArray" layout="dagreCluster">

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node" ngx-tooltip>
        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
          [attr.fill]="node.data.color" />
        <svg:text alignment-baseline="central" [attr.x]="5" [attr.y]="node.dimension.height / 2">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>